<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{{ site_title }}{% endblock %}</title>
  <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
  <meta name="description" content="{% block description %}{{ site_desc }}{% endblock %}" />
  <link rel="stylesheet" href="/static/main.css" />
</head>
<body>
  <header>
    <nav>
      <h1><a href="/">{{ site_title }}</a></h1>
      <div class="nav-links">
        <a href="/about.html">About</a>
      </div>
    </nav>
  </header>


  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <a href="https://instagram.com/thisispaperback">Instagram</a>
  </footer>

</body>
</html>
